




<input type="text" placeholder="Enter From Account Number" class="form-control" />
<input type="text" placeholder="Enter To Account Number" class="form-control" />
<input type="number" placeholder="Amount To Transfer" class="form-control" />
<button class="btn btn-primary"> Transfer Now !!</button>