

<h1> List of Products in Demand </h1>



<form method="POST">
    <input type="text" name="newProduct" placeholder="Enter the name of product you wish to have" class="form-control" />
    <button class="btn btn-warning"> Add </button>
</form>


<ul>
@foreach(var item in ViewBag.pList)
{
    <li>@item</li>
}
</ul>