

<script>
    function getPostData(){

        fetch('https://jsonplaceholder.typicode.com/posts').then(response => response.json())
                                                           .then( result => {
                                                             //  alert('Successful call');
                                                               //console.log(result);

                                                               for(var i=0;i<result.length;i++)
                                                               {
                                                               $("table").append("<tr>" + 
                                                                    "<td>" + result[i].id + "</td>" +
                                                                    "<td>" + result[i].userId + "</td>" +
                                                                    "<td>" + result[i].title + "</td>" +
                                                                    "<td>" + result[i].body + "</td>" +
                                                                
                                                               + "</tr>")
                                                               }
                                                           })
                                                           .catch(errInfo => {
                                                               alert('Errorrrr !!')
                                                           })
    }

</script>


<button class="btn btn-primary" onClick="getPostData()">Get Post Data</button>
<table class="table table-bordered"></table>